*:not(input):not(textarea) {
  user-select: none !important;
  outline-style: none !important;
}
.text-small-caps {
  font-variant: small-caps !important;
}
.scale-in {
  animation: scaleIn 0.6s ease both;
}
@keyframes scaleIn {
  0%   { opacity: 0; transform: scale(0); }
  25%  { opacity: 0; transform: scale(0); }
  100% { opacity: 1; transform: scale(1); }
}


/* *:not(input):not(textarea) {
  user-select: none !important;
  outline-style: none !important;
}
.text-small-caps {
  font-variant: small-caps !important;
}
.scale-in {
  animation: scaleIn 0.6s ease both;
}
.fs-xs {
  font-size: 0.75em;
}
.page-title-home {
  color: red;
}
.page-title-page1 {
  color: blue;
}
.page-title-page2 {
  color: green;
}
.btn-click-effect:not(.disabled):active {
  animation: btnClickEffect 0.4s;
}
@keyframes scaleIn {
  0% { opacity: 0; transform: scale(0); }
  25% { opacity: 0; transform: scale(0); }
  100% { opacity: 1; transform: scale(1); }
}
@keyframes btnClickEffect {
  0% { transform: none; }
  50% { transform: scale(0.9); }
  100% { transform: none; }
} */